<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="static/cssstyle.css">
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img class="bi me-2" height="42" role="img" aria-label="Bootstrap" src="static/img/Kr1pto.png" alt="kr1pto">
                <h4 class="mt-2">Kr1pto</h4>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                <a href="{{url_for('about')}}" class="nav-link text-white"><!--text-secondary-->
                    <img class="bi d-block mx-auto mb-1" width="32" height="32" src="static/img/group.png" alt="about us">
                    About Us
                </a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </header>
    <main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <div class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <span class="fs-4">Kriptografi Dengan Algoritma AES</span>
            </div>
        </header>
    
        <div class="row align-items-md-stretch" style="height: 450px;">
            <div class="col-md-3">
                <div class="h-300 p-3 text-bg-light rounded-3">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                        <a href="{{url_for('index')}}" class="nav-link text-dark" aria-current="page">
                            Encrypt
                        </a>
                        </li>
                        <li>
                        <a href="{{url_for('decrypt')}}" class="nav-link active">
                            Decrypt
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="p-5 bg-body-tertiary border rounded-3">
                    <h2>Decrypt</h2>
                    <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Cipher Text</label>
                                <input class="form-control" type="file" name="cipher" id="formFile">
                            </div>
                            
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Private Key</label>
                                <input class="form-control" type="file" name="privkey" id="formFile">
                            </div>
                                    
                            <div class="col-4 mt-4">
                                <button class="btn btn-outline-primary" type="submit">Decrypt</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="px-5 py-4 bg-body-tertiary border rounded-3 mt-3">
                    <div class="row g-3">
                        <p>Result</p>
                        <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3">{{content}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    
        <footer class="pt-3 mt-5 text-body-secondary border-top">
            &copy; 2023 . Kr1pto - Ujian Akhir Semester 4
        </footer>
    </div>
    </main>
</body>
</html>

<!-- #0A85D9 #33BEF0 -->
