<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img class="bi me-2" height="42" role="img" aria-label="Bootstrap" src="static/img/Kr1pto.png" alt="kr1pto">
                <h4 class="mt-2">Kr1pto</h4>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                <a href="{{url_for('about')}}" class="nav-link text-white"><!--text-secondary-->
                    <img class="bi d-block mx-auto mb-1" width="32" height="32" src="static/img/group.png" alt="about us">
                    About Us
                </a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </header>
    <main>
        <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <div class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <span class="fs-4">Kriptografi Dengan Algoritma AES</span>
            </div>
        </header>
    
        <div class="row align-items-md-stretch" style="height: 450px;">
            <div class="col-md-3">
            <div class="h-300 p-3 text-bg-light rounded-3">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        Encrypt
                    </a>
                    </li>
                    <li>
                    <a href="{{url_for('decrypt')}}" class="nav-link text-dark">
                        Decrypt
                    </a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-md-9">
                <div class="p-5 bg-body-tertiary border rounded-3">
                    <h2>Encrypt</h2>
                    <form class="needs-validation" method="POST" novalidate>
                        <div class="row g-3">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Masukkan Plain Text</label>
                                <textarea class="form-control mt-2" name="teks" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        <div class="col-4 mt-4">
                            <button class="btn btn-outline-primary" type="submit">Encrypt</button>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="px-5 py-4 bg-body-tertiary border rounded-3 mt-3">
                    <div class="row g-3">
                        <p>Result</p>
                        <form class="needs-validation" method="POST" action="{{url_for('download')}}" novalidate>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-warning col-sm-12" type="submit" name="butt" value="down_cipher">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg> Download Cipher Text
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-success col-sm-12" type="submit" name="butt" value="down_privkey">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg> Download Private Key
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <footer class="pt-3 mt-5 text-body-secondary border-top">
            &copy; 2023 . Kr1pto - Ujian Akhir Semester 4
        </footer>
        </div>
    </main>
</body>
</html>

<!-- #0A85D9 #33BEF0 -->
